*
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: black;
    flex-direction: column;
}

.container
{
   color: white;
   display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: white 2px solid;
    border-radius: 20px;
    height: 500px;
    box-shadow: 10px 10px 10px white;
}

.sec
{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

h1{
    margin-bottom: 20px;
}

.one, .two, .three, .four, .five, .six
{
   margin-left: 10px;
   margin-bottom: 40px;
   width: 300px;
   height: 150px;
   box-shadow: 2px 0 2px white;
}
h2{
    margin-bottom: 5px;
}

