*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 470px;
    background: black;
    border-radius: 30px;
    border: 2px solid black;
    width: 350px;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}
div button{
    height: 60px;
    width: 60px;
    border-radius: 20%;
    margin: 3px;
    font-size: 20px;
    background: gray;
    border: 2px solid gray;
}
.color
{
    background-color: orange;
    border: 2px solid orange;
}
.large
{
    width: 130px;
    border-radius: 10px;
}

input
{
    width: 270px;
    border-radius: 10px;
    height: 60px;
    margin-bottom: 10px;
    border: 2px solid black;
    font-size: 50px;
}
