*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav
{
    background-color: black;
    height: 50px;
    position: fixed;
    width: 100%;
}

#nav
{   position: absolute;
    color: white;
    right: 70px;
    top:10px;
    font-size: 30px;
}
.header
{
    height: 300px;
    background: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#user
{
    font-size: 40px;
    margin: 20px;
}
.img .img1
{
    height: 500px;
    width: 100%;
}
.details
{
    width: 100%;
    height: 200px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    letter-spacing: 1px;
    line-height: 60px;
}

h3{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    letter-spacing: 1px;
}
.cards
{
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.card1 , .card2 , .card3 ,.card4
{
    width: 300px;
    height: 350px;
    background-color: black;
}
.card1 img , .card2 img , .card3 img , .card4 img{
    border-radius: 20px;
}
.card2 img, .card3 img, .card4 img , .card1 img{
    width: 299px;
    height: 168px;
    border-radius: 20px;
}

 .card1 p , .card2 p , .card3 p , .card4 p{
    color: white;
    position: relative;
    left: 90px;
    bottom: 30px;
}

span
{
    color: white;
    position: relative;
    left: 100px;
    bottom: 10px;
}

.footer
{
    background-color: black;
    color: wheat;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    height: 100px;
    align-items: center;
    width: 100%;
}

.footer i{
    margin-left: 20px;
    
}

.footer i:hover
{
    color: white;
}
